if SHIELD_HEMITREUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Hemitreus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HEMITREUS_LEFT || SHIELD_HEMITREUS_RIGHT

config ZMK_SPLIT
    default y

endif
