#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LAYER0 0
#define LAYER1 1
#define LAYER2 2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ---------------------------------------------------------------------------------
// |   Q  |  W  |  D  |  R  |  K  |                 |  Y  |  U  |  I  |  O  |  P   |
// |   A  |  S  |  T  |  F  |  G  |                 |  H  |  J  |  E  |  L  |  ;   |
// |   Z  |  X  |  C  |  V  |  B  |  `  |     |  \  |  N  |  M  |  ,  |  .  |  /   |
// | ESC  | TAB | META|LCTRL|LSHFT| BSPC|     | DEL | SPC | LALT|  [  |  [  | ENT  |

                        bindings = <
   &kp Q      &kp W     &kp D     &kp R      &kp K                                      &kp Y   &kp U      &kp I     &kp O     &kp P
   &kp A      &kp S     &kp T     &kp F      &kp G                                      &kp H   &kp J      &kp E     &kp L     &kp SEMI 
   &kp Z      &kp X     &kp C     &kp V      &kp B      &kp LSHFT            &kp BSLH   &kp N   &kp M      &kp COMMA &kp DOT   &kp SLASH 
   &kp ENTER  &kp TAB   &kp LCMD  &kp LCTRL  &kp SPACE  &lt LAYER1 BSPC             &kp DEL    &kp SPACE &kp LALT   &kp LBKT  &kp RBKT  &kp ENTER
                        >; 

                        
                };

                lower_layer {
                        bindings = <
   &kp P      &kp O     &kp I     &kp U      &kp Y                                      &kp Y   &kp U      &kp I     &kp O     &kp P
   &kp SEMI   &kp L     &kp E     &kp J      &kp H                                      &kp H   &kp J      &kp E     &kp L     &kp SEMI 
   &kp SLASH  &kp DOT   &kp COMMA &kp M      &kp N      &kp LSHFT            &kp BSLH   &kp N   &kp M      &kp COMMA &kp DOT   &kp SLASH 
   &kp ESC    &kp RBKT  &kp LBKT  &kp LALT   &kp LSHFT  &kp 0            &kp DEL    &kp SPACE &kp LALT   &kp LBKT  &kp RBKT  &kp ENTER
                        >; 
                };
                
        };
};
